.circular-progress {
  --percentage: 10;
  --rotation: calc(var(--percentage) * 3.6deg);
  background: conic-gradient(var(--accent-color) var(--rotation), #e0e0e0 0deg);
  width: 120px;
  height: 120px;
  border-radius: 50%;

  display: flex;
  /* center vertically */
  align-items: center;
  /* center horizontally */
  justify-content: center;
}

/* inside circle */
.circular-progress-children {
  width: 80px;
  height: 80px;
  background: var(--background-color);
  position: absolute;
  border-radius: 50%;
}
